/* Mobile */

.signup__container {
  background-color: #ffedda;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  background: linear-gradient(to bottom right, #3db2ff 0, hsl(204, 100%, 72%));
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 90rem;
  border-radius: var(--bd-radius);
  box-shadow: var(--bx-shdw) 8px 10px 20px 0px;
}

.form__column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form--logo {
  font-size: 6rem;
  padding: 1rem;
  background: -webkit-linear-gradient(134deg, #1466ff, #00237c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form--title {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.form--element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.img__container {
  border: 0.1rem solid var(--color-1);
  box-shadow: rgb(46 61 73 / 15%) 5px 5px 20px 20px;
  aspect-ratio: 1/1;
  border-radius: 50rem;
  width: auto;
  height: 30rem;
  overflow: hidden;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form--img {
  display: block;
  zoom: 0.15;
}

.form--desc {
  margin: 0.8rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 2rem;
  max-width: 100%;
}

.form--input {
  color: #00237c;
}

.link__container {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 65rem;
}

.form--link {
  margin: 0.8rem 0.8rem 2rem auto;
  padding-right: 2rem;
}

.link:hover {
  color: var(--color-4);
  /* transform: scale(1.1); */
}

@media screen and (min-width: 600px) {
  .form--logo {
    padding-top: 5rem;
  }
  .wrapper {
    max-height: 85rem;
    max-width: 65rem;
  }

  .form--link {
    padding-right: 4rem;
    padding-bottom: 3rem;
  }
  .form--input,
  .btn {
    max-width: 60rem;
  }
  .link__container {
    padding-bottom: 2rem;
  }

  .form--desc {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .wrapper {
    flex-direction: row;
    aspect-ratio: 16/9;
    max-width: 1200px;
    min-height: auto;
  }

  .form--logo {
    font-size: 9rem;
    padding-top: 0rem;
  }

  .form__column {
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
  }

  .img__container {
    border-radius: 50rem;
    width: auto;
    height: 35rem;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .form--img {
    display: block;
    zoom: 0.15;
  }

  .form--element {
    font-size: 2rem;
    margin-top: 5rem;
    width: 100%;
    max-width: 50rem;
  }
  .form--link {
    padding-bottom: 2rem;
  }

  .form--desc {
    font-size: 2.25rem;
    padding: 1.2rem 1.5rem 1.2rem 5rem;
    margin: 0 3rem;
  }
}
