.profile {
  margin-left: 1rem;
  width: calc(35vw - 1rem);
  min-height: 40rem;
  background: linear-gradient(to bottom right, #3db2ff 0, hsl(204, 100%, 72%));
  border-radius: var(--bd-radius);
  box-shadow: var(--bx-shdw) 8px 10px 20px 0px;
  padding: 2rem;
}

.profile__wrapper {
  padding: 2 rem;
}

.profile--pic {
  height: 12rem;
  width: 12rem;
}

.profile__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.profile--item {
  padding: 1rem 0;
}

.profile__middle {
  padding: 0.75rem;
  font-size: 2.4rem;
  color: var(--color-2);
}

.about--me {
  font-size: 2rem;
}
